@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.8.69/pdf_viewer.min.css");
@import "tailwindcss";
@variant dark (&:is(.dark, .dark *));

.wave-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.wave {
  width: 100%;
  height: 150px;
  animation: waveAnimation 10s linear infinite;
  fill: #c6e2ff; /* light blue */
}
body {
  overflow: hidden;
}
@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* body {
  cursor: url("/cursors/curso.png"), default;
} */
/* body {
  cursor: url("/cursors/cursor-active.png"), ;
} */

/* global.css */
.custom-scrollbar {
  scrollbar-width: thin; /* Makes it thin */
  scrollbar-color: #6b7280 #e5e7eb; /* thumb and track */
}

/* Chrome/Edge/Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .custom-scrollbar {
    scrollbar-color: #9ca3af #374151; /* lighter thumb, darker track */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #374151;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
  }
}

/* global.css */
.scrollbar-retro {
  scrollbar-width: auto;
  scrollbar-color: #c0c0c0 #f0f0f0;
}

/* For Webkit browsers */
.scrollbar-retro::-webkit-scrollbar {
  width: 16px;
}

.scrollbar-retro::-webkit-scrollbar-track {
  background: #f0f0f0;
  border: 2px solid #dcdcdc;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #a0a0a0;
}

.scrollbar-retro::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 2px solid #a0a0a0;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #707070;
}

.windowShadow {
  box-shadow: 10px 9px 1px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 9px 1px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 9px 1px 0px rgba(0, 0, 0, 0.35);
}
